/* button ------------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Montserrat:600&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 80vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    background: black;
}

img {
    height: 200px;
}

.divname {
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}

span {
    position: relative;
    display: inline-flex;
    width: 180px;
    height: 55px;
    margin: 0 15px;
    perspective: 1000px;
}
